In [2]:
import pandas as pd
pd.set_option('display.float_format', lambda x: '%.4f' % x)

from utils.config import BASE_PATH


df = pd.read_csv(BASE_PATH + "/data/price/eth_usdc_daily_20230805.csv")
df.head()

,time,high,low,open,volumefrom,volumeto,close,conversionType,conversionSymbol
0,1627776000,2594.0300,2434.5200,2534.9800,408598.4800,1044272789.6100,2555.7400,multiply,BTC
1,1627862400,2624.8300,2490.5200,2555.7400,334751.4900,873030121.1100,2607.9900,multiply,BTC
2,1627948800,2547.1300,2441.0000,2607.9900,330910.3200,829480464.8600,2506.6600,multiply,BTC
3,1628035200,2754.2400,2593.6700,2506.6600,391959.4100,1068333830.6000,2725.6200,multiply,BTC
4,1628121600,2985.7500,2765.7400,2725.6200,606092.4600,1714959669.1600,2829.5300,multiply,BTC

In [3]:
from utils import utils

# crypto compare data
df["datetime"] = df["time"].apply(utils.utc_timestamp_to_date_str)

# poloniex daily parse data
# df["datetime"] = df["date"].apply(utils.utc_timestamp_to_datetime_ms_str).str[:10]

# poloniex hourly parse data
# df["datetime"] = df["date"].apply(utils.utc_timestamp_to_datetime_ms_str).str[:-4]

df = df[["datetime", "open", "high", "low", "close", "volumefrom", "volumeto"]]
df.tail()

,datetime,open,high,low,close,volumefrom,volumeto
730,2023-08-01,1856.0100,1873.7600,1814.0400,1871.5800,59616.2000,109634949.9700
731,2023-08-02,1871.5800,1877.3300,1820.7000,1839.2100,56898.4300,105163502.5700
732,2023-08-03,1839.2100,1857.0800,1825.5400,1834.4800,33687.5000,61999904.9000
733,2023-08-04,1834.4800,1849.4100,1815.2800,1827.4400,47621.4000,87354095.0800
734,2023-08-05,1827.4400,1836.9800,1825.0400,1835.0200,16831.9400,30815372.0000