In [3]:
from datetime import datetime, timezone


def date_to_utc_timestamp(c_date):
    return int(c_date.replace(tzinfo=timezone.utc).timestamp())


def utc_timestamp_to_date(ts):
    return datetime.fromtimestamp(ts, tz=timezone.utc)


start_date = datetime(2023, 5, 1)
print(date_to_utc_timestamp(start_date))
# print(utc_timestamp_to_date(1626480000))

1682899200

In [11]:
# 1. Fetch Eth Pool Liquidity Data

from gql import gql, Client
from gql.transport.requests import RequestsHTTPTransport

# 0.05% WBTC/ETH pool
LOW_POOL_ID = "0x4585fe77225b41b697c938b018e2ac67ac5a20c0"
# 0.3% WBTC/ETH pool
HIGH_POOL_ID = "0xcbcdf9626bc03e24f779434178a73a0b4bad62ed"


def get_pool_trade_data(pool_id, start_date):
    pool_query = """
    query poolDayDatas($pool_id: ID!, $start_time: Int!,){
        poolDayDatas(
            where: { pool: $pool_id, date_gt: $start_time }
        orderBy: date
        orderDirection: asc
        ) {
            date
            # in range liquidity at end of period
            liquidity
            # current price tracker at end of period
            sqrtPrice
            # price of token0 - derived from sqrtPrice
            tick
            # tvl derived in USD at end of period
            tvlUSD
            # volume in token0
            volumeToken0
            # volume in token1
            volumeToken1
            # volume in USD
            volumeUSD
            # fees in USD
            feesUSD
            # number of transactions during period
            txCount
            # opening price of token0
            open
            # high price of token0
            high
            # low price of token0
            low
            # close price of token0
            close
            }
    }
    """

    client = Client(
        transport=RequestsHTTPTransport(
            url='https://api.thegraph.com/subgraphs/name/uniswap/uniswap-v3',
            verify=True,
            retries=5,
        ))

    start_timestamp = date_to_utc_timestamp(start_date)
    variables = {"pool_id": pool_id, "start_time": start_timestamp}
    response = client.execute(gql(pool_query), variable_values=variables)
    trade_data = response["poolDayDatas"]
    trade_all_data = trade_data

    while len(trade_data) > 0:
        print(utc_timestamp_to_date(start_timestamp))
        print(len(trade_all_data))
        start_timestamp = trade_data[-1]['date']
        variables = {"pool_id": pool_id, "start_time": start_timestamp}
        response = client.execute(gql(pool_query), variable_values=variables)
        trade_data = response["poolDayDatas"]
        trade_all_data += trade_data

    return trade_all_data


# the earliest data is from 2021-05-01
start_date = datetime(2021, 5, 1)
pool_data = get_pool_trade_data(LOW_POOL_ID, start_date)

2021-05-01 00:00:00+00:00
100
2021-08-12 00:00:00+00:00
200
2021-11-20 00:00:00+00:00
300
2022-02-28 00:00:00+00:00
400
2022-06-08 00:00:00+00:00
500
2022-09-16 00:00:00+00:00
600
2022-12-25 00:00:00+00:00
700
2023-04-04 00:00:00+00:00
732

In [4]:
import pandas as pd

uniswap_df = pd.DataFrame(pool_data)
uniswap_df.head()

,date,liquidity,sqrtPrice,tick,tvlUSD,volumeToken0,volumeToken1,volumeUSD,feesUSD,txCount,open,high,low,close
0,1620172800,0,0,None,0,0,0,0,0,2,0,0,0,0
1,1620259200,47802696926688,31809195401932648817609369003249547,258071,5146.736482364860299518079151516243,0.01955837,0.316827345146869434,1102.031018311199696439388175003343,0.5510155091555998482196940875016715,16,0.05998654715076262372902751818670286,0.06243654451824971693450264979198528,0.05998654715076262372902751818670286,0.05998654715076262372902751818670286
2,1620345600,42425055535734978,32187992991029178621379247853387443,258308,2073400.162975270801081924615102077,68.18328357,1120.626959335943537703,3922263.61944071584148036405495539,1961.131809720357920740182027477691,227,0.06203743019377815473808300194149325,0.06203743019377815473808300194149325,0.06010084251900176152287862020188552,0.06203743019377815473808300194149325
3,1620432000,4036037627994723,30814946235335421635470353514297570,257436,1980521.049385023017241543520869319,126.96928506,2072.7905681432721063,7443618.326347876067605645380688426,3721.809163173938033802822690344206,257,0.06058403976932998513307639824064359,0.06669932160003833798769060727416865,0.06004384605589742079211220851145031,0.06058403976932998513307639824064359
4,1620518400,672440555897057,30550018995856811291234861690516572,257263,739735.1727825094073093447014429385,10.91169152,163.331111671204485144,634883.3690065130877645983992275799,317.4416845032565438822991996137902,99,0.06609184203913069571728478548803438,0.06830342385985722044198599944892239,0.0653848260519338954289133091895779,0.06609184203913069571728478548803438

In [5]:
uniswap_df.to_csv("../data/wbtc_eth_0.05_uniswap_data.csv", index=False)

In [10]:
pool_data1 = get_pool_trade_data(HIGH_POOL_ID, start_date)
uniswap_df1 = pd.DataFrame(pool_data1)
uniswap_df1.to_csv("../data/wbtc_eth_0.3_uniswap_data.csv", index=False)

2021-05-01 00:00:00+00:00
100
2021-08-11 00:00:00+00:00
200
2021-11-19 00:00:00+00:00
300
2022-02-27 00:00:00+00:00
400
2022-06-07 00:00:00+00:00
500
2022-09-15 00:00:00+00:00
600
2022-12-24 00:00:00+00:00
700
2023-04-03 00:00:00+00:00
733

In [1]:
# 2. Fetch Arb Swap Period Data

from datetime import datetime
from utils import utils


start_timestamp = utils.date_to_utc_timestamp(datetime(2023, 5, 28, 0, 0))
end_timestamp = utils.date_to_utc_timestamp(datetime(2023, 5, 30, 0, 0))

In [2]:
import pandas as pd

arb_uniswap_df = pd.read_csv("../data/arb_swap_0523_0528.csv")
id_list = arb_uniswap_df["id"].tolist()
print(id_list[0])

0x13875c5e00916a733dbf870b03f29c7c0e2b575294ea3c17e3a123540b281eca0b000000

In [3]:
# ARB graphQL
from gql import gql, Client
from gql.transport.requests import RequestsHTTPTransport


arb_query = """
query {
    swaps(skip: %d, orderBy: timestamp, orderDirection: asc,
        where: { pool: "0xc31e54c7a869b9fcbecc14363cf510d1c41fa443", timestamp_gte: %d }){
            id
            account {
                id
                positionCount
                openPositionCount
                closedPositionCount
                depositCount
                withdrawCount
                swapCount
            }
            gasLimit
            gasPrice
            amountIn
            amountInUSD
            amountOut
            amountOutUSD
            tick
            timestamp
            tokenIn {
                symbol
            }
            tokenOut {
                symbol
            }
    }
}
"""


client = Client(
    transport=RequestsHTTPTransport(
        url='https://api.thegraph.com/subgraphs/name/messari/uniswap-v3-arbitrum',
        verify=True,
        retries=5,
    ))

# # variables = { "num_skip": 0, "start_timestamp": 1684460940 }
# # response = client.execute(gql(arb_query), variable_values=variables)
response = client.execute(gql(arb_query % (0, start_timestamp)))
print(len(response["swaps"]))

100

In [4]:
result = response['swaps']
id_set = set(id_list)
print_set = set()
PRINT_GAP = 1000

for item in result:
    id_set.add(item["id"])

# more than 100 swap transactions happened in a second, will need to change skip count
skip = 0
last_cnt = 0
while int(result[-1]["timestamp"]) <= end_timestamp:
    if skip == 1000:
        break
    last_cnt = len(result)

    print_cnt = int(len(result) / PRINT_GAP)
    if print_cnt not in print_set:
        print_set.add(print_cnt)
        print(datetime.now(), "result cnt:", len(result), "id cnt:", len(id_set), "skip: ", skip)
        print("Current time: ", utils.utc_timestamp_to_date(int(result[-1]["timestamp"])))

    current_timestamp = int(result[-1]["timestamp"])
    query = arb_query % (skip, current_timestamp)
    try:
        response = client.execute(gql(query))

        swap_data = response["swaps"]
        if len(swap_data) == 0:
            break
        for item in swap_data:
            if int(item["timestamp"]) > end_timestamp:
                break
            elif item["id"] in id_set:
                continue
            else:
                result.append(item)
                id_set.add(item["id"])

        if last_cnt == len(result):
            skip += 100
        else:
            skip = 0
    except Exception as ex:
        print("Fetching swap data error", ex)

2023-05-30 09:38:53.015469 result cnt: 100 id cnt: 68938 skip:  0
Current time:  2023-05-28 00:16:27+00:00
2023-05-30 09:39:37.399397 result cnt: 1057 id cnt: 69895 skip:  0
Current time:  2023-05-28 00:58:53+00:00
2023-05-30 09:40:23.179774 result cnt: 2045 id cnt: 70883 skip:  0
Current time:  2023-05-28 03:10:10+00:00
2023-05-30 09:41:09.920128 result cnt: 3028 id cnt: 71866 skip:  0
Current time:  2023-05-28 05:09:12+00:00
2023-05-30 09:41:55.994083 result cnt: 4011 id cnt: 72849 skip:  0
Current time:  2023-05-28 08:22:33+00:00
2023-05-30 09:42:45.515943 result cnt: 5098 id cnt: 73936 skip:  0
Current time:  2023-05-28 10:52:32+00:00
2023-05-30 09:43:31.016815 result cnt: 6082 id cnt: 74920 skip:  0
Current time:  2023-05-28 12:46:04+00:00
2023-05-30 09:44:15.412316 result cnt: 7069 id cnt: 75907 skip:  0
Current time:  2023-05-28 15:05:32+00:00
2023-05-30 09:44:59.191941 result cnt: 8056 id cnt: 76894 skip:  0
Current time:  2023-05-28 17:45:30+00:00
2023-05-30 09:45:47.355301 result cnt: 9040 id cnt: 77878 skip:  0
Current time:  2023-05-28 18:55:32+00:00
2023-05-30 09:46:32.491146 result cnt: 10026 id cnt: 78864 skip:  0
Current time:  2023-05-28 21:25:28+00:00
2023-05-30 09:47:20.954576 result cnt: 11049 id cnt: 79887 skip:  0
Current time:  2023-05-28 22:02:25+00:00
2023-05-30 09:48:05.015261 result cnt: 12011 id cnt: 80849 skip:  0
Current time:  2023-05-28 22:30:17+00:00
2023-05-30 09:48:53.258129 result cnt: 13093 id cnt: 81931 skip:  0
Current time:  2023-05-29 00:13:02+00:00
2023-05-30 09:49:37.702406 result cnt: 14052 id cnt: 82890 skip:  0
Current time:  2023-05-29 01:04:25+00:00
2023-05-30 09:50:21.626434 result cnt: 15040 id cnt: 83878 skip:  0
Current time:  2023-05-29 02:50:39+00:00
2023-05-30 09:51:06.825916 result cnt: 16028 id cnt: 84866 skip:  0
Current time:  2023-05-29 04:02:52+00:00
2023-05-30 09:51:50.841060 result cnt: 17013 id cnt: 85851 skip:  0
Current time:  2023-05-29 05:38:21+00:00
2023-05-30 09:52:35.565336 result cnt: 18001 id cnt: 86839 skip:  0
Current time:  2023-05-29 07:29:12+00:00
2023-05-30 09:53:25.005149 result cnt: 19061 id cnt: 87899 skip:  0
Current time:  2023-05-29 08:50:56+00:00
2023-05-30 09:54:08.877158 result cnt: 20051 id cnt: 88889 skip:  0
Current time:  2023-05-29 10:42:34+00:00
2023-05-30 09:54:53.392050 result cnt: 21031 id cnt: 89869 skip:  0
Current time:  2023-05-29 12:20:08+00:00
2023-05-30 09:55:38.687656 result cnt: 22006 id cnt: 90844 skip:  0
Current time:  2023-05-29 14:20:10+00:00
2023-05-30 09:56:26.547965 result cnt: 23093 id cnt: 91931 skip:  0
Current time:  2023-05-29 15:23:06+00:00
2023-05-30 09:57:10.126904 result cnt: 24073 id cnt: 92911 skip:  0
Current time:  2023-05-29 16:08:54+00:00
2023-05-30 09:57:54.638375 result cnt: 25039 id cnt: 93877 skip:  0
Current time:  2023-05-29 17:08:39+00:00
2023-05-30 09:58:38.891113 result cnt: 26017 id cnt: 94855 skip:  0
Current time:  2023-05-29 18:58:29+00:00
2023-05-30 09:59:23.583684 result cnt: 27006 id cnt: 95844 skip:  0
Current time:  2023-05-29 21:46:31+00:00
2023-05-30 10:00:12.235281 result cnt: 28036 id cnt: 96874 skip:  0
Current time:  2023-05-29 23:59:38+00:00

In [5]:
import pandas as pd
from copy import deepcopy


arb_result = deepcopy(result)
for item in arb_result:
    item["transaction"] = item["id"]
    item["trader"] = item["account"]["id"]
    item["traderPositionCount"] = item["account"]["positionCount"]
    item["traderOpenPositionCount"] = item["account"]["openPositionCount"]
    item["traderClosedPositionCount"] = item["account"]["closedPositionCount"]
    item["traderDepositCount"] = item["account"]["depositCount"]
    item["traderWithdrawCount"] = item["account"]["withdrawCount"]
    item["traderSwapCount"] = item["account"]["swapCount"]
    item["tokenIn"] = item["tokenIn"]["symbol"]
    item["tokenOut"] = item["tokenOut"]["symbol"]
    item.pop("account")

arb_uniswap_df1 = pd.DataFrame(arb_result)
df = pd.concat([arb_uniswap_df, arb_uniswap_df1])
df.head()

,id,gasLimit,gasPrice,amountIn,amountInUSD,amountOut,amountOutUSD,tick,timestamp,tokenIn,tokenOut,transaction,trader,traderPositionCount,traderOpenPositionCount,traderClosedPositionCount,traderDepositCount,traderWithdrawCount,traderSwapCount
0,0x13875c5e00916a733dbf870b03f29c7c0e2b575294ea...,8000000,400000000,18509968,18.509968,10174988585088354,18.500713,-201264,1684800030,USDC,WETH,0x13875c5e00916a733dbf870b03f29c7c0e2b575294ea...,0x112bf8e7431bde9bd9395d44307f788a6e054691,0,0,0,3695,3695,3695
1,0xa629bdac51ec7b793a04193f87006f0ff4ae910f8025...,28410397,200000000,417246407,417.246407,229361579040734245,417.037599,-201264,1684800044,USDC,WETH,0xa629bdac51ec7b793a04193f87006f0ff4ae910f8025...,0x59c5c9045374693b384bc023fdca4685c7ec1a9e,0,0,0,5046,5046,5046
2,0x38d8de741acaf8f47d3e1692926b7a663e93b6fc0e4b...,2589363,100000000,15034268999359802,27.336143,27322474,27.322474,-201264,1684800056,WETH,USDC,0x38d8de741acaf8f47d3e1692926b7a663e93b6fc0e4b...,0x679d1c9f327257c4cec9ebc1c7c750728351e989,0,0,0,410,410,410
3,0x452dd1fbd5a7c6d03880cd92be8bc35646422b627c34...,6430718,100000000,40248724,40.248724,22124832513497315,40.228597,-201264,1684800071,USDC,WETH,0x452dd1fbd5a7c6d03880cd92be8bc35646422b627c34...,0x2b185c762f6fb49a07116ec06b238b58fe2bec53,3,3,0,293,297,290
4,0x7ffaad3f6e94d4e7d19df8b5f8c808512918acccf5f1...,2526058,150000000,54000000000000000,98.185802,98136699,98.136699,-201264,1684800077,WETH,USDC,0x7ffaad3f6e94d4e7d19df8b5f8c808512918acccf5f1...,0x23e08e6e721a0a56989c8759afa1841cd07e9565,0,0,0,4,4,4

In [11]:
def get_amount_price(swap_item):
    if swap_item["tokenIn"] == "WETH":
        eth_amount = int(swap_item["amountIn"]) / (10 ** 18)
        usd = float(swap_item["amountInUSD"])
    else:
        eth_amount = int(swap_item["amountOut"]) / (10 ** 18)
        usd = float(swap_item["amountOutUSD"])

    if eth_amount != 0:
        return eth_amount, usd, usd / eth_amount

    return eth_amount, usd, None

In [17]:
data = df.to_dict("records")

for item in data:
    eth_amount, usd_amount, price = get_amount_price(item)
    item["ethAmount"] = eth_amount
    item["usdAmount"] = usd_amount
    item["price"] = price
    item.pop("id")

df_new = pd.DataFrame(data)
df_new.head()

,gasLimit,gasPrice,amountIn,amountInUSD,amountOut,amountOutUSD,tick,timestamp,tokenIn,tokenOut,...,trader,traderPositionCount,traderOpenPositionCount,traderClosedPositionCount,traderDepositCount,traderWithdrawCount,traderSwapCount,ethAmount,usdAmount,price
0,8000000,400000000,18509968,18.509968,10174988585088354,18.500713,-201264,1684800030,USDC,WETH,...,0x112bf8e7431bde9bd9395d44307f788a6e054691,0,0,0,3695,3695,3695,0.010175,18.500713,1818.25389
1,28410397,200000000,417246407,417.246407,229361579040734245,417.037599,-201264,1684800044,USDC,WETH,...,0x59c5c9045374693b384bc023fdca4685c7ec1a9e,0,0,0,5046,5046,5046,0.229362,417.037599,1818.25396
2,2589363,100000000,15034268999359802,27.336143,27322474,27.322474,-201264,1684800056,WETH,USDC,...,0x679d1c9f327257c4cec9ebc1c7c750728351e989,0,0,0,410,410,410,0.015034,27.336143,1818.25555
3,6430718,100000000,40248724,40.248724,22124832513497315,40.228597,-201264,1684800071,USDC,WETH,...,0x2b185c762f6fb49a07116ec06b238b58fe2bec53,3,3,0,293,297,290,0.022125,40.228597,1818.25545
4,2526058,150000000,54000000000000000,98.185802,98136699,98.136699,-201264,1684800077,WETH,USDC,...,0x23e08e6e721a0a56989c8759afa1841cd07e9565,0,0,0,4,4,4,0.054000,98.185802,1818.25560

In [25]:
df_new.to_csv("../data/arb_swap.csv", index=False)

In [26]:
# 3. Fetch Arb User Swap Data

Hello